:root {
  --cuadro: green;
  --borde_cuadro: pink;
  --rayitas: red;
  --riel: white;
  --conexion: blue;

  --fondo: yellow;
  --general: greenyellow;
  --interfaz: pink;
  --texto: mintcream;
  --cover: darkorange;

  --boton: white;
  --botonh: black;
  --botona: red;
}

body {
  padding:0;
  margin:0;
  font-size: 1.2em;
  font-family: 'Oxygen', sans-serif;
  background: var(--fondo);
}

button {
  font-family:'Open Sans';
  font-size:0.8em;
  color:#111111;
  background: var(--boton);
  box-shadow:none;
  border:solid 1px;
  border-radius:5px;
  margin:5px 0px;
  padding: 5px;
}

button:hover {
  color:white;
  background: var(--botonh);
}

button:active {
  background: var(--botona);
}

.activebutton {
  background: var(--botona);
}

button:focus {
  outline:none;
}

#tableros {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 3em;
  padding: 0 3em;
}

#tableros img {
  width: 100%;
}

#nh_explanation {
  text-align: center;
}

.outer_container {
  position: relative;
}

.cover {
  box-sizing: border-box;
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  background: var(--cover);
  text-align: center;
  font-size: 2.5em;
  padding: 1em;
}

#nh_cover {
  display: none;
}

.text {
  background: var(--texto);
}

#general {
  min-width: 550px;
  max-width: 1100px;
  margin: auto;
  padding: 1em;
  background: var(--general);
}

.general_header {
  height: 50vw;
}

.general_header {
  text-align: center;
}

.general_header h1 {
  font-size: 2em;
  font-weight: 700;
  padding:1em 0em 0.3em 0em;
  margin:0;
}

.general_header h2 {
  font-weight: 400;
  font-size: 1.1em;
  padding:0;
  margin:0;
}

#cover {
  padding: 1em;
}

.content_header h1 {
  font-size: 1.5em;
  font-weight: 700;
  padding:1em 0em 0.3em 0em;
  margin:0;
}

.content_header h2 {
  font-weight: 400;
  font-size: 1.1em;
  padding:0;
  margin:0;
}

.interface {
  background: var(--interfaz);
}

#nh_interface {
  border: solid 1px lightgrey;
  padding: 10px;
  display: flex;
  justify-content: center;
}

#nh_controls {
  padding: 1em;
}

#nh_canvas:hover {
  cursor: crosshair;
}

#interval_interface {
  border: solid 1px lightgrey;
  padding: 10px;
  display: flex;
  grid-template-columns: 1fr 1fr;
}

#interval_right {
  border: solid 1px lightgrey;
  padding: 10px;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

#sliders_right {
  padding: 10px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 1em;
}

.interval_container {
  padding: .5em 0;
  display: grid;
  grid-template-columns: 7fr 1fr;
}